

html { font-size: 62.5%; }

/*
 * => Mixins
 * ---------------------------------------------------------------------------*/

.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}


/*=============================================================*
 MEDIA QUERIES
 *=============================================================*/

// breakpoint
@media screen and ( max-width: @grid-float-breakpoint-max ) {

// Phone
@media screen and ( min-width: @screen-xs-min ) {
}

// Tablets
@media screen and ( min-width: @screen-sm-min ) {
}

// Small Desktop
@media screen and ( min-width: @screen-md-min ) {
}

// Large Desktop
@media screen and ( min-width: @screen-lg-min ) {
}