

html { font-size: 62.5%; }

/*
 * => Mixins
 * ---------------------------------------------------------------------------*/

.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}